.footer-handheld {
    a {
        display: block;
        @include opal-color(heading);
        text-align: center;
        padding: 10px 5px;
    }

    .title {
        font-weight: 600;
        font-size: 12px;
        display: block;
    }

    i {
        font-size: 20px;
        display: block;
        margin-bottom: -2px;
    }

    .count {
        text-indent: 0;
        display: block;
        width: 2em;
        height: 2em;
        line-height: 2;
        box-sizing: content-box;
        font-size: 0.75em;
        position: absolute;
        top: 0.5em;
        left: 50%;
        border-radius: 100%;
        border: 1px solid;
        @include opal-background-color(primary);
        color: #fff;
    }
}
