.elementor-widget-organey-products-single {
    .single-product div.product {
        p.price {
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 30px;
            font-weight: 600;
            del {
                font-weight: 400;
            }
            ins {
                font-weight: 600;
            }
        }
        .time-sale {
            background: transparent;
            margin: 0;
            padding: 10px 0;
            .deal-text {
                margin-right: 10px;
            }
        }
        .product_title {
            display: block;
            margin-top: 40px;
        }
        .add_to_cart_button{
            height: 56px;
            line-height: 56px;
            padding-top: 0;
            padding-bottom: 0;
            border-radius: 30px;
            margin-bottom: 20px;
            margin-right: 0;
            @media (min-width: 1400px){
                float: left;
                margin-bottom: 0;
                margin-right: 15px;
            }
            @include susy-media(max-width $tablet) {
                height: 48px;
                line-height: 48px;
            }
        }
        @include susy-media(max-width $tablet) {
            &.organey-elementor-single-product .summary{
                padding: 30px 15px 0;
                margin-bottom: 0;
            }
        }
    }
    .woocommerce-loop-product__title{
        font-weight: 600;
        line-height: 40px;
        font-size: 30px;
        @include susy-media(max-width $tablet) {
            line-height: 30px;
            font-size: 20px;
        }
        a {
            @include opal-color(dark);
        }
    }
    .short-description{
        font-size: 16px;
        line-height: 26px;
        color: #838685;
        ul, ol{
            margin-left: 20px;
        }
    }

    .woosw-btn {
        position: relative;
        font-size: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        background-color: transparent;
        padding: 0;
        margin-top: 10px;
        text-align: center;
        border: 1px solid;
        @include opal-border-color(border);

        &:before {
            @include themecustom-icon;
            content: themecustom-char(heart);
            font-size: 20px;
            display: block;
            @include opal-color(body);
            line-height: 60px;
        }

        &:hover {
            @include opal-border-color(primary);

            &:before {
                @include opal-color(primary);
            }
        }

        &.woosw-adding {
            &:before {
                opacity: 0;

            }

            &::after {
                @include themecustom-icon;
                content: themecustom-char(spinner);
                animation: fa-spin 0.75s linear infinite;
                height: 20px;
                width: 20px;
                line-height: 20px;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -10px;
                margin-top: -10px;
                display: block;
            }
        }
    }
}

.organey-elementor-single-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .thumbnails,
    .summary {
        width: 100%;
        @include susy-media($tablet) {
            width: 50%;
        }
    }

    .summary {
        padding: 40px 15px;
        @include susy-media($desktop) {
            padding: 40px 80px;
        }
    }
}
