// search
.elementor-search-form-wrapper {
    .site-search {
        display: block;
    }

    .widget_search,
    .widget_product_search {
        form {
            &::before {
                @include themecustom-icon;
                content: themecustom-char(search);
                position: absolute;
                top: 50%;
                right: 20px;
                line-height: 1;
                transform: translate(0, -50%);
                @include opal-color(body);
            }

            input[type=text],
            input[type=search] {
                //padding-left: ms(5);
                font-size: 15px;
                padding-left: 1.5em;
                padding-right: 4em;
                border-radius: 50px;
                background-color: transparent;

                ::placeholder {
                    @include opal-color(body);
                }
            }

            input[type=submit],
            button[type=submit] {
                padding: 0;
                font-size: 0;
            }
        }
    }
    .woocommerce-product-search {
        &.loading {
            button[type="submit"] {
                &::after {
                    @include themecustom-icon;
                    content: themecustom-char(spinner);
                    animation: fa-spin 0.75s linear infinite;
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-left: -10px;
                    margin-top: -10px;
                    display: block;
                }
            }
        }
    }
}
.search-organey-layout-style-2{
    .elementor-search-form-wrapper{
        .widget_search,
        .widget_product_search {
            form {
                &::before {
                    content: none;
                }
                input[type=submit],
                button[type=submit] {
                    font-size: 14px;
                    right: 4px;
                    top: 4px;
                    bottom: 4px;
                    height: unset;
                    padding: 0 24px;
                    width: unset;
                    font-weight: 400;
                    @include opal-background-color(primary);
                    &:hover{
                        @include opal-background-color(primary_hover);
                    }
                }
            }
        }
        .woocommerce-product-search {
            &.loading {
                button[type="submit"] {
                    @include opal-color(primary);
                    &:hover{
                        @include opal-color(primary_hover);
                    }
                    &::after {
                       color: #fff;
                    }
                }
            }
        }
    }
}
.site-header-search {
    .button-search-popup {
        font-size: 22px;
        @include opal-color(heading);
        line-height: 1;

        &:hover {
            @include opal-color(primary);
        }
        i{
            line-height: 1;
            vertical-align: middle;
        }
    }
}

.search-popup-active {
    overflow: hidden;
}

.elementor-editor-active {
    .site-search-popup {
        display: none !important;
    }
}

.site-search-popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all ease-in-out 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .site-search-popup-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 40px;
        background-color: #fff;
        transform: translateY(-100%);
        transition: all ease-in-out 0.3s;
        @include susy-media($desktop) {
            padding: 80px;
        }

        .site-search-popup-close {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 20px;
            line-height: 1;
            width: 26px;
            height: 26px;
            @include susy-media($desktop) {
                top: 20px;
                right: 30px;
            }

            &:before, &:after {
                content: " ";
                position: absolute;
                top: 50%;
                display: inline-block;
                margin-top: -1px;
                width: 26px;
                height: 2px;
                @include opal-background-color(heading);
                transition: background-color .2s ease-in-out, transform .2s ease-in-out, width .2s ease-in-out;
                right: 0;
                transform: rotate(-45deg);
            }

            &:before {
                transform: rotate(45deg);
            }

            &:hover {
                &:before,
                &:after {
                    transform: rotate(0);
                }
            }
        }

        .site-search {
            display: block;
            max-width: 600px;
            width: 100%;
            @include susy-media(max-width ($tablet - 1)) {
                max-width: 300px;
            }

            .widget {
                margin-bottom: 0;
                border: none;
            }

            .ajax-search-result {
                max-height: 50vh;
            }
        }
    }

    .search-popup-active & {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .site-search-popup-wrap {
            transform: translateY(0);
        }
    }
}

.site-search {
    font-size: 14px;
    @include opal-color(body);
    clear: both;
    display: none;

    .widget_product_search {
        input[type=text],
        input[type=search] {
            padding: ms(1) ms(3);
            line-height: 1;
            background-color: #fff;
            border-radius: 2em;
            border: 1px solid;
            @include opal-border-color(border);
        }

        form {
            &::before {
                //top: 1.15em;
                //left: 1.15em;
            }
        }

        #searchsubmit {
            @include screen-reader-text();
        }
    }
}
